
<footer class=" text-white at-5 p-5" style="background: rgba(0, 0, 0, 0.3)">


  <div class="content">
  <p class="lead text-center">
  copyright &copy:2020 R.Prafull's Store
  </p>
<p class="text-center">
<a href="https://www.youtube.com/" style="font-size: 30px" ><i class="fab fa-youtube "></i></a>
<a href="https://www.facebook.com/" style="font-size: 30px" ><i class="fab fa-facebook"></i></a>
<a href="https://www.linkedin.com/" style="font-size: 30px" ><i class="fab fa-linkedin"></i></a>
<a href="https://web.whatsapp.com/" style="font-size: 30px" ><i class="fab fa-whatsapp-square"></i></a>
</p>
</div>
</footer>
