{% extends 'base.html' %}
{% load static %}
{% block title %}
Product
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row mt-5">
    <div class="col-10 mx-auto col-md-6 my3">
      <img src="{{ product.image.url }}" alt="">

    </div>
<div class="col-10 mx-auto col-md-6 my3">
  <div >
    <h1 class="product_title">{{product.name}}</h1>
    <h5 class="text-info font-italic mb-0">
     <span class="mr-1">Rs</span> {{product.price}}
    </h5>
    <p class="product_discription">Product Description</p>
    <p class="text-justify product_text">{{product.description}}</p>
    {% if product.stock <= 0 %}
    <p class="text-justify product_text">Out of Stock</p>
    {% else %}
  No of Product available  {{ product.stock }}
    <a href="{% url 'add_cart' product.id  %}">
      <button type="button" name="button" class="btn btn-secondary">
      Add to Cart
        </button>
    </a>
    {% endif %}
  </div>

</div>
  </div>

</div>
{% endblock %}
