{% extends 'base.html' %}
{% load static %}
{% block title %}
Prafull's Store
{% endblock %}
{% block content %}
<div class="text-center">
  <br>
  <br>
  <h1 class="text-center product_title">
  Thanks for shopping with us
  </h1>
  <br>
  <br>
  <p>Your order num is:<b>{{customer_order1.id }}</b></p>
  <br>
  <p>
  We have recived Your order and will begin processing right away.
  An email confirmation  has been sent to you.it contains details of the items you purchased. </p>
</div>
{% endblock %}
